.grid {
  display: grid;
  width: 100%;

  &--cols-1 {
    grid-template-columns: 1fr;
  }

  &--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &--cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &--gap-sm {
    gap: var(--space-4);
  }

  &--gap-md {
    gap: var(--space-5);
  }

  &--gap-lg {
    gap: var(--space-8);
  }

  @media (max-width: 1024px) {
    &--cols-4,
    &--cols-3 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 640px) {
    &--cols-4,
    &--cols-3,
    &--cols-2 {
      grid-template-columns: 1fr;
    }
  }
}
